a{ padding-right:20px;  
   
 }

a:link    {color:blue; background-color:transparent; text-decoration:none}
a:visited {color:blue; background-color:transparent; text-decoration:none}
a:hover   {color:black; background-color:transparent; text-decoration:underline}
a:active  {color:blue; background-color:transparent; text-decoration:underline}



h1
{
font-family: "Arial",  serif;

    padding-left: 200px;
}

h2
{
font-family: "Arial",  serif;

    padding-left: 400px;}
p1
{
padding-left: 350px;
padding-right:30px;
}
p2
{
padding-left:350px;
padding-right:1px;
}
p3
{
padding-left:350px;
padding-right:1px;
}
input[type=submit]
{
  background-color:126CC0;
    color: white;
cursor: pointer;
}
h3
{
padding-left:350px;
}